{% extends 'base.html' %}

{% block title %} Сброс пароля {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <h3 class="text-center"> Восстановление пароля </h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.email}}
                    <button class="btn btn-success mt-3" type="submit">Восстановить мой пароль</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}